<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<div>Hello <b th:text="${name}"></b></div>

<div>We have processed your request for a password change. If you didn't request this password change, please ignore this and know that you are safe. If you, however did request this password change please visit this <a th:href="${link}">link</a></div>
<div>Yours sincerely, <br>
Admin team</div>
</body>
</html>